page-forgot-pass {
    
    .btn-forgot {
        width: 90%;
        margin: 0 auto;
    }
     span.msg {
         display: block;
         margin-left: 23%;
     }
    ion-input {
        padding-left: 7px;
    }
}
